root {
	--delta-x: '';
	--delta-y: '';
	--duration: '';
}

.tile {
	transform: translate(var(--delta-x), var(--delta-y));
	transition: transform var(--duration) ease-in;
}

.visible {
	opacity: 1;
}

.invisible {
	opacity: 0.01;
}
